body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  color: #707070;
}

/*Typography*/

h1 {
  font-size: 3rem;
  color: #312614;
  text-align: center;
}

h1 span {
  color: #b7832f;
}

h2 {
  font-size: 1.5rem;
}

p{
  margin-top:0;
}

/*Layout*/

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.columns {
  display: flex;
  margin: 2em 0;
  justify-content:space-between;
}



.columns .col {
  padding-right: 1.5em;
}

.col_1{
  width:25%;
}

.col_2{
  width: 50%;
}

.col_3{
  width:75%;
}

.col_ls {
  background: #312614;
  color: #fff;
  padding:1em;
}


@media (max-width:600px){
  .columns{
    flex-direction: column;
  }
  .col_1, .col_2, .col_3{
    width: 100%;
  }
}